.calibration-wrapper{

    width: 700px;
    height: 600px;
    
    display: flex;
    flex-direction: column;


}

.header-container{

    display: flex;
    flex: 1;

}

.plot-container{

    display: flex;
    flex: 4;

}

.footer-container{

    flex: 1;
    background-color: green;
}

